*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    width: 100%;
}
.box{
    display: flex;
    background-color: black;
    width: 400px;
    height: 200px;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}